doctype 5
html
  head
    title supershabam | script loading experiment
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 html content
    p when you see it, the browser is done parsing head content